<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>Schedula</title> {% endblock %}

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet">
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(function(OneSignal) {
        OneSignal.init({
        appId: "07b705f3-42ed-4d38-adec-d5c50f53c1f7",
        });
    });
    </script>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-ggreen" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{{ url_for("app", id=info.user_id) }}" class="navbar-brand mx-4 mb-3">
                    <a class="d-flex" href="{{ url_for("app", id=info.user_id) }}">
                        <img class="object-cover" width="50%" alt="logo"
                        src="{{ url_for('static', filename='assets/images/sitelogo.png') }}" />
                        <span><h3 class="text-orange mt-4">Schedula</h3></span>
                    </a>
                
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        {% if info.user_img %}
                        <img class="rounded-circle" src="{{ url_for('static', filename="assets/uploads/"+info.user_img) }}" alt="" style="width: 40px; height: 40px;">
                        {% else %}
                        <img class="rounded-circle" src="http://placehold.it/40x40" alt="" style="width: 40px; height: 40px;">
                        {% endif %}
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ info.user_fname}} {{ info.user_lname }}</h6>
                        <span>{{ info.user_phone }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="{{ url_for("app", id=info.user_id) }}" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>My Schedula</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ url_for("must", id = info.user_id) }}" class="dropdown-item">Must Do</a>
                            <a href="{{ url_for("should", id = info.user_id) }}" class="dropdown-item">Should Do</a>
                            <a href="{{ url_for("could", id = info.user_id) }}" class="dropdown-item">Could Do</a>
                        </div>
                    </div>
                    <a href="{{ url_for("addNew", id=info.user_id) }}" class="nav-item nav-link"><i class="fa fa-plus me-2"></i>Add New</a>
                    <a href="{{ url_for("userLogout") }}" class="nav-item nav-link"><i class="fa fa-power-off me-2"></i>Logout</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="{{ url_for("app", id=info.user_id) }}" class="navbar-brand d-flex d-lg-none me-4">
                    <img class="object-cover mb-0" width="50%" alt="logo"
                        src="{{ url_for('static', filename='assets/images/sitelogo.png') }}" />
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars text-ggreen"></i>
                </a>
                <form method="post" action="" class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" name="text" type="search" placeholder="Search through tasks" id="livebox">
                    <p id="task" class=" my-3 text-black search"></p>
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New item added to should do list</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Phone number changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {% if info.user_img %}
                            <img class="rounded-circle me-lg-2" src="{{ url_for("static", filename="assets/uploads/"+info.user_img) }}" alt="" style="width: 40px; height: 40px;">
                            {% else %}
                            <img class="rounded-circle me-lg-2" src="http://placehold.it/40x40" alt="" style="width: 40px; height: 40px;">
                            {% endif %}
                            <span class="d-none d-lg-inline-flex">{{ info.user_fname }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{ url_for('userProfile', id=info.user_id) }}" class="dropdown-item">My Profile</a>
                            <a href="{{ url_for("userLogout") }}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            {% block toplist %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <div class="ms-3">
                                <a href="{{ url_for("must", id = info.user_id)}}" class="text-ggreen fw-bold mb-2">Must Do</a>
                                {% if top %}
                                <h6 class="mb-0">{{ top }}</h6>
                                {% else %}
                                <h6 class="mb-0">0</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <div class="ms-3">
                                <a href="{{ url_for("should", id = info.user_id)}}" class="text-ggreen fw-bold mb-2">Should Do</a>
                                <h6 class="mb-0">{{ mid }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <div class="ms-3">
                                <a href="{{ url_for("could", id = info.user_id)}}" class="text-ggreen fw-bold mb-2">Could Do</a>
                                <h6 class="mb-0">{{ least }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <div class="ms-3">
                                <p class="text-ggreen fw-bold mb-2">Total</p>
                                <h6 class="mb-0">{{ total }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            <div class="container-fluid pt-4 px-4">
                {% block main %}
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Must Do List</h6>
                                <a href="{{url_for("must", id = info.user_id) }}">Show All</a>
                            </div>
                    {% if t %}
                    {% for a in t %}
                    <div class="d-flex align-items-center border-bottom py-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="col-1">
                                    <img class="rounded-circle flex-shrink-0" src="{{url_for("static",filename="assets/uploads/"+a.task_img) }}" alt="" style="width: 40px; height: 40px;">
                                </div>
                                <div class="col-4">
                                    <p class="mt-2 todoItem d-inline">{{ a.task_item }} <span><a href="{{ url_for("updateTask")}}"><i class="fa fa-pen text-primary pencil"></i></a></span></p>
                                </div>
                                <div class="col-1">
                                    {% if a.task_status == 1 %}
                                    <i class="fa fa-circle text-secondary"></i>
                                    {% elif a.task_status == 2 %}
                                    <i class="fa fa-spinner text-warning"></i>
                                    {% else %}
                                    <i class="fa fa-check-double text-ggreen"></i>
                                    {% endif %}
                                </div>
                               
                                <div class="col-1">
                                    {% if a.task_status == 1 %}
                                    <a href="{{ url_for("toDoing", id = a.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                                    {% elif a.task_status == 2 %}
                                    <a href="{{ url_for("toDone", id = a.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    <a href="{{ url_for("deleteTodo", id = a.task_id)}}" class="text-orange"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p class="text-center">
                            It appears your list is <span class="text-orange">empty</span>. &emsp; &emsp; 
                        </p>
                    {% endif %}
                    <div class="mt-3 text-center">
                        <a href="{{ url_for("addNew", id=info.user_id) }}" class="btn btn-ggreen">Add New</a>
                    </div>
                </div>
            </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Should Do List</h6>
                                <a href="{{url_for("should", id = info.user_id) }}">Show All</a>
                            </div>
            {% if m %}
            {% for b in m %}
            <div class="d-flex align-items-center border-bottom py-1">
                <div class="w-100">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="col-1">
                            <img class="rounded-circle flex-shrink-0" src="{{url_for("static",filename="assets/uploads/"+b.task_img) }}" alt="" style="width: 40px; height: 40px;">
                        </div>
                        <div class="col-4">
                            <p class="mt-2 todoItem">{{ b.task_item }} <span><a href="{{ url_for("updateTask")}}"><i class="fa fa-pen text-primary pencil"></i></a></span></p>
                        </div>
                        <div class="col-1">
                            {% if b.task_status == 1 %}
                            <i class="fa fa-circle text-secondary"></i>
                            {% elif b.task_status == 2 %}
                            <i class="fa fa-spinner text-warning"></i>
                            {% else %}
                            <i class="fa fa-check-double text-ggreen"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if b.task_status == 1 %}
                            <a href="{{ url_for("toDoing", id = b.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                            {% elif b.task_status == 2 %}
                            <a href="{{ url_for("toDone", id = b.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <a href="{{ url_for("deleteTodo", id = b.task_id)}}" class="text-orange"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p class="text-center">
                    It appears your list is <span class="text-orange">empty</span>. &emsp; &emsp; 
                </p>
            {% endif %}
                            <div class="mt-3 mb-3 text-center">
                                <a href="{{ url_for("addNew", id=info.user_id) }}" class="btn btn-ggreen mb-2">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
            {% block extra %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0 text-orange">Schedula Tips</h6>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3 my-2">
                                    <span><i class="fa fa-pen-nib text-ggreen">&emsp;</i></span>
                                    <small> updates tasks for follow up</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3 my-2">
                                    <span><i class="fa fa-circle text-secondary">&emsp;</i></span>
                                    <small> represents accomplished tasks</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3 my-2">
                                    <span><i class="fa fa-spinner text-warning">&emsp;</i></span>
                                    <small> represents accomplished tasks</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3 my-2">
                                    <span><i class="fa fa-check-double text-ggreen">&emsp;</i></span>
                                    <small> represents accomplished tasks</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3 my-2">
                                    <span><i class="fa fa-trash text-orange">&emsp;</i></span>
                                    <small> deletes unwanted tasks</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                            </div>
                            <div class="text-center">
                                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&showPrint=0&showTabs=1&showCalendars=1&src=Y2Y1MGY2ZTExNTYyZjc0NWM3NDdlNDFkM2Q2NGRkNzZkZDBlZjVhOGIwNzA4ZDNiZWI1MjdkODg1ZjRlNzdjYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZmFtaWx5MDYyMjI5NTYyMzA4MDY1NTk1OTJAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4ubmcjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F09300&color=%2333B679&color=%23C0CA33&color=%230B8043" width="290" height="320" frameborder="0" scrolling="no"></iframe>						

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Could Do List</h6>
                                <a href="{{url_for("could", id = info.user_id) }}">Show All</a>
                            </div>
                    {% if l %}
                    {% for c in l %}
                    <div class="d-flex align-items-center border-bottom py-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="col-1">
                                    <img class="rounded-circle flex-shrink-0" src="{{url_for("static",filename="assets/uploads/"+c.task_img) }}" alt="" style="width: 40px; height: 40px;">
                                </div>
                                <div class="col-4">
                                    <p class="mt-2 todoItem">{{ c.task_item }} <span><a href="{{ url_for("updateTask")}}"><i class="fa fa-pen text-primary pencil"></i></a></span></p>
                                </div>
                                <div class="col-1">
                                    {% if c.task_status == 1 %}
                                    <i class="fa fa-circle text-secondary"></i>
                                    {% elif c.task_status == 2 %}
                                    <i class="fa fa-spinner text-warning"></i>
                                    {% else %}
                                    <i class="fa fa-check-double text-ggreen"></i>
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    {% if c.task_status == 1 %}
                                    <a href="{{ url_for("toDoing", id = c.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                                    {% elif c.task_status == 2 %}
                                    <a href="{{ url_for("toDone", id = c.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    <a href="{{ url_for("deleteTodo", id = c.task_id)}}" class="text-orange"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p class="text-center">
                            It appears your list is <span class="text-orange">empty</span>. &emsp; &emsp; 
                        </p>
                    {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endblock %}

            <!-- Footer  -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <p class="text-light">
                                Copyright &copy;
                                <a href="https://www.yemi.dev" target="_blank" class="text-dark">Yẹmi<i class="icon-heart color-danger" aria-hidden="true"></i> | All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-ggreen btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for("static", filename="js/easing.min.js") }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>