{% extends "user/app.html" %}
{% block title %}<title>Least priority - Schedula</title>{% endblock %}
{% block toplist %}{% endblock %}
{% block main %}
<div class="container pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Could Do List</h6>
                    <a href="">Check All</a>
                </div>
                
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked>
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span><del>Short task goes here...</del></span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span>Short task goes here...</span>
                            <a href="" class="text-ggreen">Re-order</a>
                            <a href="" class="text-orange">Delete</a>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra %}{% endblock %}