{% extends "user/layout.html" %}
{% block title%}
    <title>Profile - Schedula</title>
    <style>
        .glyphicon { 
            margin-bottom: 10px;margin-right: 10px;
        }

        small{
        display: block;
        line-height: 1.428571429;
        color: #999;
        }

        .profile{
            position: relative;
            left: 24%;
        }
    </style>
{% endblock %}
{% block hero %}{% endblock %}
{% block mainContent %}
<section class="my-5 profile">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>Jane Doe</h4>
                            <small>Joined since <cite>June 02, 1988<i class="glyphicon glyphicon-map-marker">
                            </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>123456789                                
                            <div class="">
                                <a href="" class="btn _btn">Update Profile</a>
                            </div>
                        </div>
                    </div>
</section>
{% endblock %}
{% block extra %} {% endblock %}