{% extends "user/layout.html" %}
{% block title %}<title>Page Not Found - Schedula</title>
<style>
    a{
        text-decoration:none !important;
    }
</style>
{% endblock %}
{% block hero %}{% endblock %}
{% block mainContent %}
<section>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" >
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{{ url_for('static',filename='assetsimages/svg/500.svg')}}" class="d-block mx-lg-auto img-fluid img-responsive" alt="Error" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-orange">Oops!</h1>
          <p class="lead">Looks like it's broken. While we go down this rabbit hole. Please go out and enjoy the sunshine<br>
            <span style="color: #16302B">If you continue to see this error,
                please contact <span class="text-ggreen">support@funds.com </span></span> </p> 
        </div>
      </div>
</section>
{% endblock %}
{% block extra %}{% endblock %}