<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap/css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/all.css') }}"/>
<style type="text/css">

</style>
<script src="static/js/swiper.min.js" defer></script>
<script>



</script>
<script type="text/javascript" language="javascript" src="static/js/main.js" defer></script>
</head>
<body>
    <div class="container-fluid responsive">
        <div class="row">
            <div class="col-md-1">
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/images/sitelogo.png') }}" alt="logo">
            </div>
            <div class="col-md-6 offset-2">   
                    <ul id="menu">
                        <li><a href="#features">Features</a></li>&emsp;&nbsp;&emsp;&nbsp;
                        <li><a href="#support">Support</a></li>&emsp;&nbsp;&emsp;&nbsp;
                        <li><a href="#resources">Resourses</a></li>
                    </ul>    
            </div>
            <div class="col-md-2">
                <div>
                    <button class="btn btn-sm _btn" style="position:absolute; top:2%">
                        Start Now
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="background-image:url(static/assets/images/svg/todo1.svg) ; background-size:cover; height:600px"></div>
                <div class="_intro text-center">
                    <h1>Stay Organized<br>Stay Creative</h1>
                    <p>
                        Become focused, organized, and calm with<br><span id="_intro_title">Schedula</span>.
                        The best task manager and to-do<br>list app.
                    </p>
                    <div>
                        <button class="btn btn-sm _btn text-center">
                            Download App
                        </button>
                    </div>
                </div>
            </div>
        </div>

            <section class="testimonial">
                <div class="_testimonial mySwiper">
                    <div class="_testimonial_content swiper-wrapper">
                        <div class="slide swiper-slide">
                            <img src="static/assets/images/test1.jpg" alt="" class="image"><br>
                            <p>
                                Amazing app. Now I can say that I am "very Organized!" Schedula has made this easier
                                for me to navigate through my daily activities with so much ease.My favorite
                                app of the entire year which is my to-do app. It"s called <i>Schedula</i>.
                            </p>
                            <i class="fa-solid fa-quote-left quote"></i>
                            <div class="details">
                                <span class="name">Femi Bello</span>
                                <span class="job">Photographer</span>
                            </div>    
                        </div>

                        <div class="slide swiper-slide">
                            <img src="static/assets/images/test2.jpg" alt="" class="image"><br>
                            <p>
                                Personally the reason I like <i>Schedula</i> is mainly the simplicity.
                                It"s minimal and clean. <i>Schedula</i> is packed with features but only the ones that
                                are absolutely necessary.
                            </p>
                            <i class="fa-solid fa-quote-left quote"></i>
                            <div class="details">
                                <span class="name">Amanda Roland</span>
                                <span class="job">Software Engineer</span>
                            </div>    
                        </div>

                        <div class="slide swiper-slide">
                            <img src="static/assets/images/test3.jpg" alt="" class="image"><br>
                            <p>
                            The UX is on another level. Every few months I try a dozen alternatives but always
                            find a way to make use of <i>Schedula</i>.
                            </p>
                            <i class="fa-solid fa-quote-left quote"></i>
                            <div class="details">
                                <span class="name">Seyi Makinde</span>
                                <span class="job">Banker</span>
                            </div>    
                        </div>

                        <div class="slide swiper-slide">
                            <img src="static/assets/images/test4.jpg" alt="" class="image"><br>
                            <p>
                                A joy to use and beautiful to look at, Things 3 has been completely re-imagined to
                                improve efficiency. Its thoughtful design and powerful features help you get organized and make the
                                most out of every day. <i>Schedula</i> 3 sets the standard for how apps should be designed
                                and developed to be their best on every device.
                            </p>
                            <i class="fa-solid fa-quote-left quote"></i>
                            <div class="details">
                                <span class="name">Chidubem James</span>
                                <span class="job">Civil Engineer</span>
                            </div>    
                        </div>

                        <div class="slide swiper-slide">
                            <img src="static/assets/images/test5.jpg" alt="" class="image"><br>
                            
                            <p>
                                You would be hard-pressed to find a better looking to-do app <i>Schedula</i>.
                                The first time I opened it on my iPad, I couldn’t help but
                                pause a few moments to admire it. It’s simple, but beautiful in
                                its simplicity. Screenshots don’t quite do it the justice it deserves.”
                            </p>
                            <i class="fa-solid fa-quote-left quote"></i>
                            <div class="details">
                                <span class="name">Hassan Umar</span>
                                <span class="job">Logistic Manager</span>
                            </div>    
                        </div></div>
        
                        <div class="swiper-button-next nav-btn"></div>
                        <div class="swiper-button-prev nav-btn"></div>
                        <div class="swiper-pagination nav-btn"></div>
                </div>
            </section>
                </div>
        <div class="row">
            <div class="col-sm-12" id="features">
                <h1>From bewildered to on top it</h1>
                <img src="" alt="" name="_slide">
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>








        























    </div>
    
</body>
</html>