{% extends "user/index.html" %}
{% block title %}<title>Register</title>
<style>
    a{
        text-decoration:none !important;
    }
</style>
{% endblock %}
{% block hero %}{% endblock %}
{% block mainContent %}
<section>
    <div class="row my-5 align-items-center mx-auto">
        <div class="col-md-8  mt-5 mx-auto">
        <form action="" method="post">
          {{ form.csrf_token }}
          <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
              {% endfor %}
            {% endif %}

            {% endwith %}
          </div>
            <h2 class="intro text-center mb-5 text-ggreen">Sign Up Form</h2>
          <div class="col-md-6 form-group mx-auto">                
              <div class="form-group">
                {% if form.fname.errors %}
                          {{ form.fname (class="is_invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.fname.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        {% else %}
                          {{ form.fname (class="form-control my-3") }}
                        {% endif %}
              </div>

              <div class="form-group">
                {% if form.lname.errors %}
                          {{ form.lname (class="is_invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.lname.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        {% else %}
                          {{ form.lname (class="form-control my-3") }}
                        {% endif %}
              </div>

              <div class="form-group">
                {% if form.phone.errors %}
                          {{ form.phone (class="is_invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.phone.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        {% else %}
                          {{ form.phone (class="form-control my-3") }}
                        {% endif %}
              </div>
               
              <div class="form-group">
                {% if form.password.errors %}
                          {{ form.password (class="is_invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        {% else %}
                          {{ form.password (class="form-control my-3") }}
                        {% endif %}
              </div>
              <div class="form-group">
                {% if form.confirm_password.errors %}
                          {{ form.confirm_password (class="is_invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.confirm_password.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        {% else %}
                          {{ form.confirm_password (class="form-control my-3") }}
                        {% endif %}
              </div>
              <div class="text-center">
                {{ form.submit (class="btn btn-success") }}
              </div>
                <div class="ms-5 my-3">
                  <span class="text-success ms-5 ps-3" style="font-size:smaller">You have an account? <a class="text-orange" href="{{ url_for("userLogin")}}">Click Here</a>
                </div>
          </div>
        </form>
      </div>
</section>
{% endblock%}
{% block extra %} {% endblock %}