{% extends "user/app.html" %}
{% block title %}<title>Mid priority - Schedula</title>{% endblock %}
{% block toplist %}{% endblock %}
{% block main %}
<div class="container pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Should Do List</h6>
            </div>
            {% if todo %}
            {% for t in todo %}
            <div class="d-flex align-items-center border-bottom py-2">
                <div class="w-100 ms-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="col-2">
                            <img class="rounded-circle flex-shrink-0" src="{{url_for("static",filename="assets/uploads/"+t.task_img) }}" alt="" style="width: 40px; height: 40px;">
                        </div>
                        <div class="col-4">
                            <p class="mt-2">{{ t.task_item }} <span><a href="{{ url_for("updateTask")}}"><i class="fa fa-pen text-primary pencil"></i></a></span></p>
                        </div>
                        <div class="col-1">
                            {% if t.task_status == 1 %}
                            <i class="fa fa-circle text-secondary"></i>
                            {% elif t.task_status == 2 %}
                            <i class="fa fa-spinner text-warning"></i>
                            {% else %}
                            <i class="fa fa-check-double text-ggreen"></i>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if t.task_status == 1 %}
                            <a href="{{ url_for("toDoing", id = t.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                            {% elif t.task_status == 2 %}
                            <a href="{{ url_for("toDone", id = t.task_id) }}" class="text-ggreen"><i class="fa fa-pen-nib"></i></a>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <a href="{{ url_for("deleteTodo", id = t.task_id)}}" class="text-orange"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p class="text-center">
                    It appears your list is <span class="text-orange">empty</span>. &emsp; &emsp; 
                    <a href="{{ url_for("addNew", id=info.user_id) }}" class="btn btn-ggreen">Add New Task</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
            
{% endblock %}
{% block extra %}{% endblock %}